[settings]
DEBUG=True
DEPLOYMENT=test
AWS_ID=
AWS_KEY=
AWS_REGION=
DATABASE_NAME=db
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
CACHE_LOCATION=redis://127.0.0.1:6379
